version: '3.8'

services:
  backend:
    build: .
    restart: unless-stopped
    volumes:
      - ./data:/usr/src/app/data
      - C:\Emulation:/emulation
    environment:
      - PORT=3000
    networks:
      - app-network

  frontend:
    build: ./frontend
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge