version: '3.8'

services:
  backend:
    build: .
    volumes:
      - C:\Users\maxime\Documents\docker:/usr/src/app/data
    environment:
      - PORT=3000
    networks:
      - app-network

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge